{% extends '_layout' %}

{% block nav %}
    {% include 'nav' %}
{% endblock %}


{% block main %}
	
	
		<div id="series">
			<div class="container">
			
			{% set categories = craft.categories.group('video_categories') %}
			
			{% if categories | length %}
			<ul id="categories">
			    <li style="font-weight: bold; text-decoration: underline;">Sort by Categories:</li>
			    {% nav category in categories %}
			        <li><a href="{{ category.url }}">{{ category.title }}</a></li>
			    {% endnav %}
			</ul>
			{% endif %}
			
			{% for category in craft.categories.slug(craft.request.getSegment(2)).find() %}
				{% set entries = craft.entries.section('series').relatedTo({targetElement: category}).find() %}
				
				{% if entries | length %}
				{% for entry in entries %}
				<div class="eight columns">
					
          <a href="{{ entry.url }}"><h3>{{ entry }}</h3>
					   	<!-- {{ entry.video.description }} -->
              <img src="http://img.youtube.com/vi/{{ entry.video }}/maxresdefault.jpg" frameborder="0" allowfullscreen class="series-image" />
							
            </a>		
								
						<p>{{ entry.body | striptags | truncate('words', '25', ' ...') }}<a href="{{ entry.url }}"> continue reading→</a></p>
				</div>
				{% endfor %}
				
				{% else %}
				<div class="sixteen columns">
				  <p>There are currently no videos belong that belong to this category. <a href="/series">Click here</a> to view all videos.</p>
				</div>
				{% endif %}
			{% endfor %}
				
				<div class="clear"></div>
				
				
				
			</div> <!-- end container -->
		</div> <!-- work -->
		
		<!-- <div class="container">
		<div class="sixteen columns"> <p> PHP</p><div class="skill-bg"><div style="width: 63%;background-color: #D1D1D1" class="skill1"></div></div> <p> Javascript</p><div class="skill-bg"><div style="width: 72%;background-color: #C8C7C7" class="skill4"></div></div> <p> Illustrator</p><div class="skill-bg"><div style="width: 77%;background-color: #BDBDBD" class="skill3"></div></div> <p> HTML/CSS</p><div class="skill-bg"><div style="width: 85%;background-color: #B3B2B2" class="skill3"></div></div> <p> Photoshop</p><div class="skill-bg"><div style="width: 90%;background-color: #A9A8A8" class="skill5"></div></div> </div></div> -->
		
		{% include 'sponsorsnippet' %}
		
		
	
	{% endblock %}

