{% extends '_layout' %}



{% block main %}
	
	
		<div id="series">
			<div class="container">
			
			<div class="sixteen columns">
				<h4>Series</h4>
				<p>{{ home.intro }}</p>
			</div>
			
			{% for entry in craft.entries.section(series).limit(4).find() %}
			
				<div class="eight columns">
					
					   	<a href="{{ entry.url }}"><h3>{{ entry }}</h3>
					   	<!-- {{ entry.video.description }} -->
						<!-- <iframe src="//www.youtube.com/embed/{{ entry.video }}" frameborder="0" allowfullscreen></iframe> -->
						<img src="http://img.youtube.com/vi/{{ entry.video }}/maxresdefault.jpg" alt="" width="460" height="259" border="0" class="series-image" />

						</a>
							
						
						
								
						<p>{{ entry.body | striptags | truncate('words', '25', ' ...') }}<a href="{{ entry.url }}"> continue reading→</a></p>
					
				</div>
			{% endfor %}
				
				<div class="sixteen columns">
					<p><a href="/series" class="continue">View More Episodes of the Series</a></p>
				</div>
				
				<div class="clear"></div>
				
				
				
			</div> <!-- end container -->
		</div> <!-- work -->
		
		<div id="documentary">
			<div class="container">
				<div class="sixteen columns">
					<h4>Documentary</h4>
					<p>{{ home.docDescription | striptags | truncate('words','89','..') }}</p>
					
				<p><a href="/documentary" class="continue">Learn More About Our Big Project</a></p>
				</div>
			</div>
		</div>
		
		<div id="about">
			<div class="container">
				<div class="sixteen columns">
					<h4>About Us</h4>
					<img src="/mattterrell.png" alt="Matt Terrell" class="mattterrell">
					{{ home.aboutDescription }}
					<p><a href="/about" class="continue">Find Out More / Get In Touch</a></p>
				</div> <!-- end sixteen columns -->			
			</div> <!-- end container -->
		</div> <!-- end about -->
		
		{% include 'sponsorsnippet' %}
		
		
		
		
		
	
	{% endblock %}