<nav>
		<ul>
			<li><a href="/series">Series</a></li>
			<li><a href="/documentary">Documentary</a></li>
			<li><a href="/about">About Us</a></li>
			<li><a href="/sponsor">Sponsor</a></li>
		</ul>
		
		<select name="dropdpown" size="1" onChange="window.location.replace(this.options[this.selectedIndex].value)">
			<option value="" selected="selected">Go To</option>
			<option value="/series">Series</option>
			<option value="/documentary">Documentary</option>  
			<option value="/about">About Us</option>
			<option value="/sponsor">Sponsor</option> 
		</select>
	</nav>