<div id="sponsor">
			<div class="container">
				<div class="eight columns">
					<h4>Sponsor</h4>
					
					{{ home.sponsorDescription }}
					
					<p><a href="http://incorporate.com" class="continue">Learn More About Our Sponsor</a></p>
				</div> <!-- end sixteen columns -->	
				<div class="eight columns">
					
					<a href="http://incorporate.com"><img src="/csclogo.png" class="csclogo"></a>
				</div> <!-- end sixteen columns -->			
			</div> <!-- end container -->
		</div> <!-- end sponsor -->